@media only screen and (max-width: 900px) {
    .menu-list-items{
        display: none;
    }

    /*.sidebar{
        height: 5rem;
        width: 100%;
        margin-top: 5rem;

        &-container{
            width: 100%;
            flex-direction: row;
            align-items: center;
            margin-top: 2rem;
            justify-content: space-around;
        }
    }*/

    .content{
        
        &__featured{
        margin-bottom: 5rem;
        }

        &--desc{
            width: 60rem;
            height: 1rem;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        &__movie-list{
            
            &__container-items{

                &__img{
                height: 10rem;
                width: 15rem;
                }

                &--tag{
                    font-size: 1rem;
                    top: 5%;
                }

                &--desc{
                    width: 15rem;
                    height: 3rem;
                    overflow: hidden;
                    font-size: 1rem;
                    padding: .2rem;
                }
            }

            &--title{
                font-size: 1.6rem;
                margin-top: 3rem;
            }
        }

    }

    .button-arrow{
        font-size: 8rem;
    }

    .watch-button{
        font-size: 1.2rem;
    }

} 