$color-black: #000;
$color-black-2: #151515;
$color-black-3: #333;
$color-white: #fff;
$color-white-2: #dddbdb;
$color-white-3: #838181;

$color-dark-blue: #01051a;
$color-yellow: #f5ca0b;
$color-green: #3dce44;

$color-wine: #4e0404;
$color-red: #bb0606;